.sidebar_help_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  color: var(--sidebar-text);
  margin-top: 10px;
  width: 172px;
  height: 102px;
}
.sidebar_help {
  border-radius: 8px;
  width: 212px;
  height: 272px;
  background: var(--help-back-color);
}

.cactus_container {
  padding: 20px;
}
.sidebar_span {
  color: var(--accent-color);
}
