.sidebar_boards_title {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--sidebar-grey-color);
  margin: 60px 0 0 0;
}
.create_board {
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  height: 70px;
  width: 212px;
}
