/* :root {
  --scrollbar-color: rgba(255, 255, 255, 0.102);
  --scrollbar-hover-color: rgba(255, 255, 255, 0.2);
  --scrollbar-bg-color: #161616;
} */
.sidebar_boards_list {
  margin-top: 20px;
  height: 180px;
  position: absolute;
  right: 0;
  left: 24px;
  min-height: 150px;
}
.board_list_item {
  height: 61px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: ltr;
  padding-left: 10px;
}

.scroll_container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  direction: rtl;
  width: 100%;
  padding: 0;
}

.scroll_container::-webkit-scrollbar {
  width: 8px;
}

.scroll_container::-webkit-scrollbar-track {
  background-color: var(--scroll-back);
  border-radius: 4px;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
}

.scroll_container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-color);
  opacity: 1;
}
