/* :root {
  --dashboard-text-color: #ffffff80;
  --dashboard-text-button-color: #bedbb0;
} */

.container {
  width: 100%;
  max-width: 335px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding-top: 258px;
  color: var(--grey-color);

  @media screen and (min-width: 768px) {
    min-width: 486px;
    font-size: 14px;
    padding-top: 368px;

    @media screen and (min-width: 1440px) {
      padding-top: 248px;
    }
  }
}

.button {
  font-size: inherit;
  color: var(--accent-color);
  margin: 0;
  user-select: none;
}
