/* :root {
  --bd-bg-color: hsla(0, 0%, 100%, 0.119);
  --modal-border-color: #bedbb080;
  --modal-bg-color: #151515;
  --modal-icon-color: #fff;
  --modal-icon-hover-color: #9dc888;
} */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--backdrop);
  z-index: 999;
}

.modal {
  border: 1px solid var(--accent-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 234px;
  border-radius: 8px;
  background-color: var(--modal-back);
  padding: 24px;
}

.close_btn {
  color: var(--main-color);
  position: absolute;
  top: 14px;
  right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_btn:hover {
  color: var(--accent-color-focused);
}

.icon {
  transform: rotate(45deg);

  width: 18px;
  height: 18px;
  stroke: currentColor;
}
