.create_bord_wrap {
  position: relative;
  padding: 11px;
  min-height: 433px;
  width: 270 px;
  top: 50%;
  left: 0;
  background-color: inherit;
  @media screen and (min-width: 375px) {
    width: 350px;
  }
}

.create_board_title {
  color: var(--main-color);
  margin-bottom: 24px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
}

.create_board_wrap_input {
  width: 100%;
  margin-bottom: 24px;
}

.create_board_input {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: var(--main-color);
  background: var(--input-back);

  width: 100%;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  opacity: 0.4;
  box-sizing: border-box;
}

.create_board_input:focus {
  outline: none;
  opacity: 1;
}

.create_board_close_btn {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  stroke: var(--main-color);
}

.error_message {
  color: rgba(234, 84, 84, 0.859);
  margin-bottom: 5px;
  text-align-last: left;
}

.create_board_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--button-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  background: var(--accent-color);
  padding: 14px 28px;
  width: 100%;
  height: 49px;
  border-radius: 8px;
}

.create_board_plus_icon {
  stroke: var(--modal-icon-plus);
  background: var(--modal-icon-plus-back);
}

.create_board_icons {
  stroke: var(--main-color);
  opacity: 0.5;
  fill: transparent;
  stroke-width: 1.5px;
}

.create_board_wrap_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--modal-icon-plus-back);
  border-radius: 8px;
  padding: 7px;
}

.create_board_title_radio {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-color);
  margin-bottom: 14px;
}

.create_board_wrap_backgrounds {
  display: flex;
  gap: 4px;
  width: 252px;
  flex-wrap: wrap;
}

.create_board_img_placeholder {
  stroke: #ffffff1a;
  fill: none;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  background: #1f1f1f;
}

.create_board_label {
  cursor: pointer;
}

.create_board_field {
  appearance: none;
}

.create_board_wrap_icons {
  display: flex;
  gap: 8px;
}

.radio_semi_stroke {
  stroke: var(--accent-color-focused);
}

.radio_semi_stroke:hover {
  stroke: var(--accent-color-focused);
}

.radio_semi_transparent {
  opacity: 0.65;
}
