:root {
  --column-background-color: #121212;
  --dashboard-title-color: #fff;
  --column-create-button-bg-color: #fff;
  --column-icon-color: #ffffff80;
  --card-icon-color: #fff;
  --card-create-button-color: #bedbb0;
  --card-create-button-bg-color: #161616;
  --card-create-button-text-color: #161616;
  --card-button-icon-color: #fff;
  --column-button-icon-color: #161616;
  --scrollbar-color: #ffffff1a;
  --scrollbar-hover-color: #ffffff33;
  --scrollbar-bg-color: #161616;
}

.column {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.column_item {
  display: block;
  width: 347px;
  margin-right: 18px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.column_create_btn {
  display: flex;
  width: 335px;
  height: 56px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--column-card-back);
  border-radius: 8px;
  color: var(--main-color);

  @media screen and (min-width: 768px) {
    width: 334px;
  }
}

.icon {
  stroke: var(--sidebar-icon-plus-fill);
}

.column_btn_icon_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  border-radius: 6px;
  background-color: var(--add-column-icon-back);
}

.column_btn_icon {
  width: 14px;
  height: 14px;
  stroke: var(--column-card-back);
}

.column_section {
  display: flex;
  width: 335px;
  background-color: var(--column-card-back);
  margin-bottom: 10px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 334px;
  }
}

.column_title {
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
  padding: 10px;
  color: var(--main-color);
}

.column_edit_btn {
  display: flex;
  width: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}

.column_edit_btn :first-child {
  margin-right: 2px;
}

.column_icon {
  width: 16px;
  height: 16px;
  stroke: var(--grey-color);
  fill: transparent;
}

.card_create_btn {
  display: flex;
  width: 335px;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--button-text);

  @media screen and (min-width: 768px) {
    width: 334px;
  }
}

.card_btn_icon_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  border-radius: 6px;
  background-color: var(--add-card-icon-back);
}

.card_btn_icon {
  width: 14px;
  height: 14px;
  stroke: var(--modal-icon-plus);
}

.card_container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-height: 478px;

  @media screen and (min-width: 768px) {
    max-height: 640px;

    @media screen and (min-width: 1440px) {
      max-height: 478px;
    }
  }
}

.card {
  width: 100%;
  margin-right: 4px;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.card:not(:last-child) {
  margin-bottom: 8px;
}

.scroll_container {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll_container::-webkit-scrollbar {
  width: 8px;
}

.scroll_container::-webkit-scrollbar-track {
  background-color: var(--scroll-back);
  border-radius: 4px;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
}

.scroll_container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-color);
  opacity: 1;
}
.card_create_btn:hover {
  background-color: #9dc888;
  transition: background-color 0.5s ease-in-out;
}
.card_create_btn:focus {
  background-color: #9dc888;
  transition: background-color 0.5s ease-in-out;
}
