.box {
  position: relative;
  padding: 24px;
  border-radius: 8px;
  background: #151515;

  @media screen and (min-width: 375px) {
    width: 287px;
  }

  @media screen and (min-width: 768px) {
    width: 344px;
    padding: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  padding: 14px 18px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  box-sizing: border-box;
  opacity: 0.4;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  outline: none;
  opacity: 1;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 14px;
  margin-bottom: 24px;
}

.wrap {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg:hover,
svg:active {
  stroke: #ffffff;
}

.links {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.error-message {
  color: rgba(234, 84, 84, 0.859);
  margin: 0 0 5px 0;
  text-align-last: left;
}

.wrapper {
  position: relative;
  top: -50px;
}

.icon {
  position: absolute;
  top: 16px;
  right: 18px;
  stroke: currentColor;
  fill: none;
  cursor: pointer;
}

.button {
  width: 100%;
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 0;
  color: #161616;
  background-color: #bedbb0;
}
