.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sidebar-icon-plus-back);
  border-radius: 6px;
  width: 40px;
  height: 36px;
  margin: 0;
  padding: 0;
}
.add-button:hover,
.add-button:focus {
  background: var(--sidebar-icon-plus-focused);
  transform: scale(1.05);
}
.icon {
  stroke: var(--sidebar-icon-plus-fill);
}
