.box {
  /* position: relative; */
  padding: 24px;
  border-radius: 8px;
  background: var(--modal-back);
  width: 352px;

  @media screen and (min-width: 375px) {
    width: 352px;
  }
}

.title {
  color: var(--main-color);
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  padding: 14px 18px;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: var(--main-color);
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  background-color: var(--input-back);
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  box-sizing: border-box;
  opacity: 0.4;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  outline: none;
  opacity: 1;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 352px;
  gap: 14px;
  margin-bottom: 24px;
}

/* .wrap {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.wrap {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 14px;
}

.wrap:last-of-type {
  margin-bottom: 24px;
}
.icon:hover,
.icon:active {
  stroke: var(--main-color);
}

.active {
  color: var(--main-color);
}

.input_hidden {
  display: none;
}

.wrapper {
  position: relative;
  top: -50px;
}

.icon {
  position: absolute;
  top: 16px;
  right: 18px;
  stroke: currentColor;
  fill: none;
  cursor: pointer;
}
.icon_close {
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: var(--main-color);
  fill: none;
  cursor: pointer;
}

.icon_user_box {
  border-radius: 8px;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--main-back-color);
}

.icon_user {
  fill: var(--icon-user);
}

.icon_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}
.icon_plus_div {
  position: absolute;
  border-radius: 8px;
  bottom: -8px;
  width: 24px;
  height: 24px;
  background-color: var(--accent-light);
}
.icon_plus {
  stroke: #161616;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

.button {
  width: 352px;
  font-family: Poppins;
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 0;
  color: var(--button-text);
  background-color: var(--accent-color);
}
.button:hover {
  background-color: var(--accent-color-focused);
  transition: background-color 0.5s ease-in-out;
}
.button:focus {
  background-color: var(--accent-color-focused);
  transition: background-color 0.5s ease-in-out;
}
.img_avatar {
  border-radius: 8px;
  width: 68px;
  height: 68px;
  object-fit: cover;
}
