.container {
  /* display: flex; */
  height: 100%;
}

.section {
  /* background-color: #1f1f1f; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; */
  /* height: calc(100vh - 60px); */
  height: 100%;

  @media screen and (max-width: 374px) {
    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    height: 100vh;
    display: flex;
  }
}

.homepage_wrapper {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
}
