.section {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);

  @media screen and (min-width: 1440px) {
    height: 100vh;
  }

  @media screen and (max-width: 374px) {
    width: 100%;
  }
}

.container {
  display: flex;
}
