/* :root {
  --dashboard-background-color: #232323;
  --dashboard-title-color: #fff;
  --dashboard-button-color: #ffffffcc;
} */

.section {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-back-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 14px 20px 40px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
    padding: 26px 32px;

    @media screen and (min-width: 1440px) {
      min-height: 48px;
      padding: 10px 24px;
    }
  }
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.title_wrapper {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: transparent;
}

.icon_filter {
  fill: transparent;
  stroke: var(--main-color);
  opacity: 0.8;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.button {
  display: flex;
  min-width: 64px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  opacity: 0.8;
  margin: 0;
  user-select: none;
}
