.sidebar_button_container {
  height: 70px;
}
.button_container {
  position: relative;
  display: flex;

  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}
.button_container::before {
  position: absolute;
  top: 10%;
  content: url('../../../img/icons/sprite.svg#icon-vector');
  width: 212px;
  height: 2px;
  background-color: white;
  opacity: 0.1;
}
.button_container::after {
  position: absolute;
  top: 120%;
  content: url('../../../img/icons/sprite.svg#icon-vector');
  width: 212px;
  height: 2px;
  background-color: white;
  opacity: 0.1;
}

.sidebar_button_title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  width: 74px;
  height: 42px;
  margin: 0;
  display: flex;
  align-items: center;
}
.create_board_button {
  background: #bedbb0;
  border-radius: 6px;
  width: 40px;
  height: 36px;
  margin: 0;
  padding: 0;
}
.create_board_button:hover,
.create_board_button:focus {
  background: #9dc888;
  transform: scale(1.05);
}
.sidebar_button_icon {
  stroke: #121212;
}
