.button_container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}
.sidebar_button_title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  width: 74px;
  height: 42px;
  margin: 0;
}
