.container {
  background-color: var(--header-back);
  color: var(--main-color);
  display: flex;
  width: 100%;
  z-index: 1;
  padding-left: 16px;
  padding-right: 16px;

  margin: 0 auto;

  /* margin-right: 0; */

  height: 60px;

  align-items: center;

  /* @media screen and (min-width: 1440px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 68px;
  } */
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: transparent;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.icon_user {
  fill: var(--icon-user);

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.options {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  color: var(--main-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.box_icon_user {
  background-color: var(--main-back-color);
  border-radius: 4px;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button {
  display: flex;

  background-color: transparent;
  border: none;
}

.img_avatar {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.icon {
  stroke: var(--main-color);
}

/*
.themeBtn {
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.themeIcon {
  stroke: #ffffff;
}

.themeContainer {
  display: flex;
  gap: 4px;
  align-items: flex-end;
}
.themeTitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.themeIcon {
  stroke: #ffffffcc;
}
 */
