.select_button {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.svg_icon {
  stroke: #ffffff;
}
