.custom-select__control {
  border: none;
  background-color: transparent;
  gap: 4px;
}

.custom-select__control--is-focused {
  border-color: transparent;
  box-shadow: none;
}

.custom-select__value-container {
  padding: 0;
}

.custom-select__single-value {
  margin: 0;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}

.custom-select__indicators {
  cursor: pointer;
}

.custom-select__indicator {
  padding: 0;
}

.custom-select__indicator-separator {
  display: none;
}

.custom-select__menu {
  background-color: #151515;
  width: 100px;
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  padding: 12px;

  border-radius: 8px;
  border: 1px solid #bedbb0;

  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);
}

.custom-select__menu-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-select__input-container {
  margin: 0;
}

.custom-select__placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ffff;
  opacity: 0.8;
  padding: 0;
}

.custom-select__option {
  cursor: pointer;
  padding: 0;
}

.custom-select__option--is-focused {
  background-color: transparent;
}

.custom-select__option--is-hover {
  background-color: transparent;
}

.custom-select__option--is-selected {
  background-color: transparent;
  color: #bedbb0;
}
