.user_name {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.user_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.img {
  border-radius: 8px;
}
