.wrapper {
  position: relative;
  top: -50px;
}

.icon {
  position: absolute;
  top: 16px;
  right: 18px;
  stroke: currentColor;
  fill: none;
  cursor: pointer;
}

.icon:hover,
.icon:active {
  stroke: var(--main-color);
}
