.board_list_item {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.board_box {
  display: flex;
  align-items: center;
}
.board_title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--sidebar-text);
  text-transform: capitalize;
}

.board_icon.active {
  stroke: var(--sidebar-text);
}

.icon_pencil,
.icon_trash,
.board_icon {
  stroke: var(--sidebar-grey-color);
  fill: transparent;
}
.board_icons {
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-left: auto;
}
.icon_pencil,
.board_icon {
  margin-right: 8px;
}
.board_line {
  border-radius: 4px 0 0 4px;
  width: 4px;
  height: 61px;
  background: var(--logout-icon);
}

.icon_pencil:hover,
.icon_pencil:focus,
.icon_trash:hover,
.icon_trash:focus {
  transform: scale(1.1);
}
