:root {
  --column-background-color: #121212;
  --card-title-color: #fff;
  --card-description-color: #ffffff80;
  --card-underline-color: #ffffff1a;
  --deadline-icon-color: #bedbb0;
  --card-priority-low-color: #8fa1d0;
  --card-priority-medium-color: #e09cb5;
  --card-priority-high-color: #bedbb0;
  --card-priority-without-color: #ffffff4d;
}

.card_container {
  display: flex;
  width: 335px;
  height: 154px;
  border-radius: 8px;
  background-color: var(--column-card-back);
  overflow: hidden;
}

.card_priority {
  width: 4px;
  height: 100%;
  margin-right: auto;
}

.priority_low {
  background-color: var(--card-priority-low-color);
}

.priority_medium {
  background-color: var(--card-priority-medium-color);
}

.priority_high {
  background-color: var(--card-priority-high-color);
}

.priority_without {
  background-color: var(--card-priority-without-color);
}

.content {
  position: relative;
  width: fit-content;
  padding: 14px 20px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 8px;
  color: var(--main-color);
}

.description {
  width: 290px;
  height: 38px;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.24px;
  color: var(--main-color);
  opacity: 0.5;
}

.additions_wrap {
  display: flex;
  align-items: last baseline;
  padding-top: 14px;
  border-top: 1px solid var(--light-grey);
}

.addition {
  display: flex;
  flex-direction: column;
}

.addition_title {
  font-size: 8px;
  line-height: normal;
  letter-spacing: -0.16px;
  margin-bottom: 4px;
  color: var(--main-color);
  opacity: 0.5;
}

.addition_value {
  font-size: 10px;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--main-color);
}

.priority_wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 14px;
}

.priority_icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.deadline_icon {
  width: 16px;
  height: 16px;
  stroke: var(--accent-color);
  fill: transparent;
}

.actions_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  margin-left: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64px;
}

.action_item {
  width: 16px;
  height: 16px;
}

.action_btn_icon {
  width: 16px;
  height: 16px;
  stroke: var(--main-color);
  opacity: 0.5;
  fill: transparent;
}

.action_btn {
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  cursor: pointer;
}
