.wrapper {
  height: calc(100vh - 68px);
  padding: 14px 20px;
  /* display: flex; */
  justify-content: center;
  align-items: center;

  font-size: 16;
  color: #010101;
  border: 1px solid #010101;
  margin-left: 260px;
}

.title {
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 18px;
}

.info {
  text-align: center;
}
