@import-normalize;

/* bring in normalize.css styles */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

* {
  box-sizing: border-box;
}


.react-datepicker {
  width: 230px;
  height: 254px;
  overflow: hidden;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__header {
  border: none;
  background-color: #151515;
  padding: 0px;
}

.react-datepicker__current-month {
  padding: 18px 0px;
  margin-left: 18px;
  margin-right: 18px;
  border-bottom: 1px solid #FFFFFF33;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.react-datepicker__navigation {
  top: 13px;
}

.react-datepicker__day-names {
  margin-top: 14px;
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 23px;
  height: 23px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.react-datepicker__day-name {
  color: #FFFFFF80;
}

.react-datepicker__day:hover,
[aria-current='date'],
.react-datepicker__day--keyboard-selected {
  background-color: #bedbb0;
  border-radius: 50%;
  color: #151515;
}

[aria-disabled='true'] {
  color: rgba(255, 255, 255, 0.2);
}

[aria-disabled='true']:hover {
  background-color: inherit;
}

[aria-selected='true'] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #bedbb0;
  border-radius: 50%;
  color: #151515;
}