:root {
  --scrollbar-color: #ffffff1a;
  --scrollbar-hover-color: #ffffff33;
  --scrollbar-bg-color: #161616;
}

.column {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: calc(100vh - 158px);
  margin-left: 20px;
  overflow-x: auto;
  overflow-y: hidden;

  @media screen and (min-width: 768px) {
    margin-left: 32px;
    height: calc(100vh - 180px);
    @media screen and (min-width: 1440px) {
      margin-left: 24px;
      height: calc(100vh - 124px);
    }
  }
}

.column::-webkit-scrollbar {
  height: 12px;
}

.column::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg-color);
  border-radius: 6px;
}

.column::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 6px;
}

.column::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-color);
}
