:root {
  --dashboard-title-color: #fff;
  --card-create-button-color: #bedbb0;
  --card-create-button-bg-color: #161616;
  --card-create-button-text-color: #161616;
  --card-icon-color: #fff;
}

.container {
  width: 302px;
}
.editColumn_title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
  color: var(--main-color);
}

.editColumn_input {
  display: block;
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 24px;
  opacity: 0.4;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--main-color);
  outline: none;
}

.editColumn_input:focus {
  opacity: 1;
  outline: 1px solid var(--accent-color);
}

.editColumn_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 10px 0;
  background-color: var(--accent-color);
  color: var(--button-text);

  border-radius: 8px;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--modal-icon-plus-back);
  border-radius: 8px;
}

.icon {
  width: 14px;
  height: 14px;
  stroke: var(--modal-icon-plus);
}
